@model TuHobbyWeb.Models.ViewModels.PlatformCreateViewModel
@{

}

<div class="card mt-5 bg-dark" style="box-shadow: 0px 0px 30px 15px #39A2DB; color: #A2DBFA; border-color: #39A2DB ">
    <div class="card-header">
        <h3>Agregar Plataforma</h3>
    </div>
    <div class="card-body">
        <form action="/Platforms/Create" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label>Nombre:</label>
                <input type="text" name="ProductPlatformName" class="form-control" value="@Model.ProductPlatformName" />
            </div>
            <div class="form-group">
                <label>Logo:</label>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFile" name="PlatformFile">
                        <label class="custom-file-label" for="inputGroupFile01"></label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-info btn-block"><strong>Guardar <i class="fas fa-save"></i></strong></button>
        </form>
    </div>
</div>