﻿@model TuHobbyWeb.Models.ViewModels.ProductIndexViewModel
@{ ViewBag.Title = "Inicio"; }

<div class="row mt-5">
    @for (int i = 0; i < Model.Products.Count; i++)
    {
        if (i % 3 == 0)
        {
            @:<div class="row mt-5"></div>
        }
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img width="286" height="160" src="@Model.Products[i].ProductImage" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Model.Products[i].ProductPlatform.ProductPlatformName</h5>
                    <p class="card-text">@Model.Products[i].ProductName</p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="/cart/add?productId=@Model.Products[i].ProductId" class="btn btn-primary">Agregar <i class="fas fa-cart-plus"></i></a> 
                    }else
                    {
                    <a href="/auth/login" class="btn btn-primary">Iniciar Sesión <i class="fas fa-sign-in-alt"></i></a>
                    }
                </div>
            </div>
        </div>
     }
</div>