<div class="mt-2 d-inline-block">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-warning">
            <p>@TempData["ErrorMessage"]</p>
        </div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            <p>@TempData["SuccessMessage"]</p>
        </div>
    }
</div>
