<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>A surgido un error al momento de procesar su información.</h2>
    </hgroup>
</body>
</html>
